/* General CSS */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

body {
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 8%;
}

/* Navbar CSS */

.computer-navbar {
    position: sticky;
    display: flex;
    margin: 1em 4.5rem;
    align-items: center;
    justify-content: space-between;
}

.nav-new-links {
    list-style: none;
    align-items: center;
}

.nav-new-links li {
    display: inline-block;
}

.nav-anchors {
    text-decoration: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #8a94c4;
    color: #8a94c4;
    transition: color .3s ease-in-out, box-shadow .3s ease-out;
    font-size: 1.2em;
    padding: .5em;
    position: relative;
    gap: 1rem;

}

.nav-anchors:hover {
    color: white;
    box-shadow: inset 200px 0 0 0 #8a94c4;    
}

.nav-logo {
    font-family: 'Tourney';
    font-size: 2em;
    text-decoration: none;
    color: inherit;
}


.contact-button {
    background-color: #8a94c4;
    border-radius: 1em;
    border-color: #8a94c4;
    border: 0;
    color: white;
    transform: translateY(0px);
    transition: transform 0.3s ease;
}

.contact-button:hover {
    background-color: #70779e;
    color: white;
    transform: translateY(-2px);
    transition: transform 0.3s ease;
}

.contact-button > a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: inherit;
}

/* Introduction section CSS */

.profile-picture {
    border-radius: 3em;
    border: .4em solid #70779e;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
    height: auto;
}

.introduction {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-top: 5em;
}

/* CSS for span changing text */
.changing-text {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    letter-spacing: .3em;
    margin-top: 1em;
    color: #6d7a9a;
    font-weight: bold;
    animation: 
    /* 24 char with spaces 22 without */
        typing 2s steps(24) infinite alternate, 10s linear infinite,
        cursor .4s  step-end infinite alternate;
}

/* cursor blinking */
@keyframes cursor {
    50% { border-color: transparent;}
}

/* typing effect */
@keyframes typing {
    from { width: 0}
}

.intro-text {
    font-size: 1.7rem;
}

.mini-info-text {
    justify-content: center;
    align-items: center;
    margin: 2em 4em;
    text-align: center;
    font-size: 1.7rem;
    overflow-wrap: break-word;
}

.section-container {
    margin: 1em 7.5rem 2em;
}

.section-titles {
    color: #70779e;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.section-text {
    font-size: 1.7rem;
    overflow-wrap: anywhere;
}

.icon-container {
    /* gap: 2em; */
    display: flex;
}

.custom-style {
    width: 90px;
    height: 90px;
    font-size: 3rem;
    color: #70779e;;
    text-align: center;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-left: 35px;
    border: solid 2px;
    border-radius: 15%;
    line-height: 1;
    padding-top: 18px;
}

.custom-style-project {
    color: white;
    margin-left: 0;
    border: 0;
    line-height: 0;
    height: 70px;
    width: 70px;
    margin-bottom: 3px;
    padding-top: 0;
    font-size: 4rem;
    align-items: center;
}


.experience-card {
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 1em;
    padding: 2em;
    margin: 3em 0em;

}

.technologies-span {
    color: #70779e;
    font-size: 1.6em;
    font-weight: 300;
    margin: .5em 0em;
    text-align: center;

}

.card-text {
    font-size: 1.7em;
    font-weight: 300;
}

.card-titles {
    font-size: 2.2em;
    margin-bottom: .6em;
}

/* Project Section */

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31em, 2fr));
    grid-gap: 4em;
    margin-top: 2em;
    background: white;
    color: white;
    border-radius: 1em;
}

.project-cards {
    height: 2fr;
    padding: 2em;
    background-color: rgb(37, 37, 37);
    /* background-color: #70779e; */
    border-radius: 1em;
    transition: transform 0.3s ease;
    transform: translateY(0px);
}

.project-cards > a {
    color: rgb(37, 37, 37);
    transition: 0.5s ease-in;
}

.project-cards:hover {
    transition: transform 0.3s ease;
    transform: translateY(-10px);
}

.project-cards:hover > a {
    transition: 0.5s ease-in;
    color: #ffaea6;
}

.project-card-text {
    font-size: 1.4em;
}

.project-links {
    text-decoration: none;
    color: #ffaea6;
    font-size: 1.25em;
}

/* Scroll fade-in animation */
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    } 
}

/* change class name to tag that will be affected */
.section-container {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Section with the information for contact */